[submodule "oe-core"]
	path = oe-core
	url = git://git.openembedded.org/openembedded-core
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
[submodule "meta-yocto"]
	path = meta-yocto
	url = git://github.com/kergoth/meta-yocto
[submodule "meta-sourcery"]
	path = meta-sourcery
	url = git://github.com/MentorEmbedded/meta-sourcery
[submodule "meta-intel"]
	path = meta-intel
	url = git://git.yoctoproject.org/meta-intel.git
[submodule "meta-mentor"]
	path = meta-mentor
	url = git://git.yoctoproject.org/meta-mentor.git
[submodule "meta-ti"]
	path = meta-ti
	url = git://git.yoctoproject.org/meta-ti.git
[submodule "meta-fsl-ppc"]
	path = meta-fsl-ppc
	url = git://git.yoctoproject.org/meta-fsl-ppc.git
[submodule "meta-fsl-arm"]
	path = meta-fsl-arm
	url = git://github.com/Freescale/meta-fsl-arm
[submodule "meta-oe"]
	path = meta-oe
	url = git://github.com/openembedded/meta-oe
