[submodule "meta-sourcery"]
	path = meta-sourcery
	url = git://github.com/MentorEmbedded/meta-sourcery
[submodule "meta-intel"]
	path = meta-intel
	url = git://git.yoctoproject.org/meta-intel.git
[submodule "meta-mentor"]
	path = meta-mentor
	url = git://git.yoctoproject.org/meta-mentor.git
[submodule "meta-ti"]
	path = meta-ti
	url = git://git.yoctoproject.org/meta-ti.git
[submodule "meta-fsl-ppc"]
	path = meta-fsl-ppc
	url = git://git.yoctoproject.org/meta-fsl-ppc.git
[submodule "meta-fsl-arm"]
	path = meta-fsl-arm
	url = git://github.com/Freescale/meta-fsl-arm
[submodule "meta-oe"]
	path = meta-oe
	url = git://github.com/openembedded/meta-oe
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
